@{
    ViewData["Title"] = "O nás";
}

<div class="container d-flex flex-column justify-content-center" style="min-height: calc(100vh - 100px);">
    <!-- Uzpůsobení rozvržení (Případně upravit dle potřeby) -->
    <div>
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>

        <div class="card bg-light mb-4">
            <div class="card-body">
                <h2 class="card-title">O našem autobazaru</h2>
                <p>
                    TMbazar je předním prodejcem ojetých i nových vozů v České republice. Firma byla založena v roce 2001 a od té doby jsme poskytovali kvalitní služby všem našim klientům.
                </p>
                <p>
                    Naším hlavním cílem je nabídnout širokou škálu kvalitních vozů za nejlepší ceny a profesionální poradenské služby. Jelikož působíme na trhu již 22 let v oboru, máme rozsáhlé znalosti a zkušenosti, díky kterým můžeme našim zákazníkům poskytnout to nejlepší.
                </p>
            </div>
        </div>

        <div class="card bg-light">
            <div class="card-body">
                <h2 class="card-title">Náš tým</h2>
                <p>
                    Jsme tým nadšenců pro automobily, kteří se věnují poskytování špičkových služeb našim zákazníkům. Naši zaměstnanci jsou vyškoleni v oblasti poradenství a prodeje aut načež poskytují podrobné informace o každém voze v našem sortimentu.
                </p>
                <p>
                    Naším cílem je zajistit, aby každý zákazník opustil náš autobazar s úsměvem na tváři a s jistotou, že si vybral to správné auto.
                </p>
            </div>
        </div>
    </div>
</div>
