@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Vítejte na webu Vozového Parku TMbazar</h1>
    <p class="lead">Tato webová aplikace vám usnadní vyhledávání a správu vašich oblíbených vozidel různých značek</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Seznam vozidel</h5>
                    <p class="card-text">Prohlížejte seznam vozidel v autobazaru.</p>
                    <a href="@Url.Action("Index", "Vehicle")" class="btn btn-primary">Zobrazit vozidla</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Přidat nové vozidlo</h5>
                    <p class="card-text">Přidejte nové vozidlo do autobazaru.</p>
                    <a href="@Url.Action("Create", "Vehicle")" class="btn btn-primary">Přidat vozidlo</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Statistiky</h5>
                    <p class="card-text">Zobrazte statistiky o vozidlech v autobazaru v přehledné formě.</p>
                    <a href="@Url.Action("Statistics", "Vehicle")" class="btn btn-primary">Zobrazit statistiky</a>
                </div>
            </div>
        </div>
    </div>
</div>
