/* Color Palette */
:root {
    --primary-color: #00ABB3;
    --secondary-color: #3C4048;
    --tertiary-color: #B2B2B2;
    --quaternary-color: #EAEAEA;
}

body {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px; /* Reduced padding-top */
    padding-bottom: 20px;
}

a {
    color: var(--primary-color);
    margin-right: 10px;
}

    a:hover {
        color: var(--secondary-color);
    }

h2 {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

/* Forms */
.form-control {
    margin-bottom: 10px;
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    margin-right: 10px;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: #009299;
        border-color: #009299;
    }

/* Tables */
table {
    width: 100%;
    margin-bottom: 20px;
}

    table th, table td {
        padding: 10px;
        border: 1px solid var(--tertiary-color);
    }

    table th {
        background-color: var(--tertiary-color);
        color: var(--quaternary-color);
    }

/* Navbar */
.navbar {
    background-color: var(--secondary-color);
    margin-bottom: 20px; /* Added margin to push content below navbar */
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--primary-color);
}

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #FFCC33;
    }

.navbar-dark .navbar-toggler-icon {
    background-color: var(--primary-color); /* Adjusting the color of the navbar toggler icon */
}

/* Footer */
.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

    .footer a {
        color: var(--secondary-color);
        transition: color 0.3s ease; /* This ensures a smooth transition when hovering */
    }

        .footer a:hover {
            color: black;
        }

footer a:hover {
    color: black !important;
}

/* Responsive design */
@media (max-width: 767px) {
    body {
        padding-top: 10px; /* Adjusted for mobile */
        padding-bottom: 10px;
    }

    .form-control {
        margin-bottom: 5px;
    }

    .btn-primary {
        margin-right: 5px;
    }

    a {
        margin-right: 5px;
    }

    table th, table td {
        padding: 5px;
    }
}